:root {
  --heading-font: "playfair display", serif;
  --page-font: "poppins", sans serif;
}

body {
  background-color: #cfdee6;
  font: var(--page-font);
}

p {
  padding: 30px;
  font-size: 20px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: var(--heading-font);
  font-weight: 700;
}

h1 {
  font: var(--heading-font);
  font-size: 15px;
  opacity: 0.7;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 90px;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin: 30px;
}

main {
  margin: 100px 50px;
  display: block;
}

amazon-link {
  text-decoration: none;
}
amazon-link:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  h1 {
    text-align: center;
    font-size: 50px;
  }
  h3 {
    font-size: 60px;
  }
  h2 {
    text-align: center;
    padding: 5px;
    margin: 0;
  }

  p {
    text-align: center;
    padding: 5px;
    margin: 0;
  }
}

.wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: white;
  border-radius: 20px;
}

.buy-it-link {
  text-align: center;
}
.by-link {
  text-decoration: none;
  color: black;
}
.by-link:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin: 30px;
  opacity: 0.8;
}

.Contact-icon {
  text-align: center;
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #cfdee6;
}
.amazon-link-btn:hover {
  text-decoration: underline;
}
