body {
  background-color: #cfdee6;
}

h1 {
  text-align: center;
  font-size: 70px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

main {
  margin: 100px 50px;
  display: block;
}

img {
  max-width: 300px;
}
