:root {
  --heading-font: "playfair display", serif;
  --page-font: "poppins", sans serif;
}

body {
  background-color: #cfdee6;
  font: var(--page-font);
}

p {
  padding: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: var(--heading-font);
  font-weight: 700;
}

h1 {
  text-align: center;
  font-size: 90px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 30px;
}

main {
  margin: 100px 50px;
  display: block;
}

.content {
  padding: 0 50px;
}
amazon-link {
  text-decoration: none;
}
amazon-link:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  h1 {
    text-align: center;
    font-size: 50px;
  }
  h3 {
    font-size: 60px;
  }
  h2 {
    text-align: center;
    padding: 5px;
    margin: 0;
  }

  p {
    text-align: center;
    padding: 5px;
    margin: 0;
  }

  .content {
    padding: 5px;
  }
}
.buy-it-link {
  text-align: center;
}
.by-link {
  text-decoration: none;
  color: black;
}
.by-links:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin: 30px;
  opacity: 0.8;
}

.Contact-icon {
  text-align: center;
  font-size: 80px;
  margin-top: 80px;
  color: #cfdee6;
}
